CONFIG_DRM_PANEL_SITRONIX_ST7701=m
CONFIG_DRM_I2C_ADV7511=m
CONFIG_VIDEO_ADV7511=m
CONFIG_SND_SOC_PM4125_SDW=m
CONFIG_SM_LPASSCC_6115=y
CONFIG_SND_USB_AUDIO=m
# Do not use TCPCI driver for ANX
CONFIG_TYPEC_TCPM=n
CONFIG_SND=y
CONFIG_SND_USB_AUDIO=m
CONFIG_UHID=y
CONFIG_INPUT_UINPUT=y
CONFIG_INPUT_JOYDEV=m
CONFIG_BT_LE=m
CONFIG_BT_RFCOMM=m
CONFIG_BT_BNEP=m
CONFIG_HIDRAW=y
CONFIG_WATCHDOG_SYSFS=y
CONFIG_DRM_DISPLAY_DP_AUX_CEC=y
CONFIG_UDMABUF=y
CONFIG_EXFAT_FS=y
CONFIG_BT_RFCOMM=m
CONFIG_ECRYPT_FS=y
CONFIG_ECRYPT_FS_MESSAGING=y
CONFIG_ZRAM=y
CONFIG_ZSWAP=y
